#interface {
    margin-left: auto;
    margin-right: auto;
}

.control {
    stroke-width: 0px;
    cursor: pointer;
}

.control:hover {
    stroke-width: 2px;
}

.houselights {
    stroke: yellow;
}

.feeder {
    fill: black;
    stroke: blueviolet;
}

.feeder.active {
    fill: blueviolet;
}

.peck {
    fill: black;
    stroke: salmon;
}

.peck.active {
    fill: salmon;
}

.red {
    fill: darkred;
    stroke: red;
}

.red.active {
    fill: red;
}

.green {
    fill: darkgreen;
    stroke: lime;
}

.green.active {
    fill: lime;
}

.blue {
    fill: darkblue;
    stroke: blue;
}

.omni {
    stroke: black;
    stroke-width: 1px;
}

.blue.active {
    fill: blue;
}

#applog {
    width: 67%;
    margin-left: auto;
    margin-right: auto;
    font-family:Lucida Console;
    font-size:small;
}

#consolecontain {
    display:inline-block;
    height:210px;
    width: 49%;
    margin: 0 auto;
}

#appconsole {
    display:inline-block;
    height:120%;
    width: 100%;
    margin: 0 auto;
    overflow-y:auto;
}

#shapeconsole {
    display:inline-block;
    height:210px;
    width: 49%;
    margin: 0 auto;
    padding-left: 2%;
}

#shapelog {
    display:inline-block;
    height:120%;
    width: 100%;
    margin: 0 auto;
    overflow-y:auto;
}
