# systemd service parameters - change /srv/decide to the install location of the package
[Unit]
Description=decide operant device controller
Wants=network-online.target
After=network-online.target
ConditionPathExists=|/root/decide

[Service]
ExecStart=/usr/bin/node /root/decide/scripts/decide-ctrl.js
WorkingDirectory=/root/decide
Restart=always
StandardOutput=syslog
SyslogIdentifier=decide-ctrl
User=root
Group=root
Environment=PATH=/usr/bin:/usr/local/bin:/root/decide/node_modules/.bin
Environment=NODE_ENV=production

[Install]
WantedBy=multi-user.target
